<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <script src="../js/axios-0.19.0.js"></script>
</head>
<style>
    /*body{*/
    /*    padding: 0;*/
    /*    margin: 0;*/
    /*    border: 0;*/
    /*}*/
</style>
<body>
<div id="app">
    <el-row>
        <el-col :span="21">
            <el-page-header @back="exit" :content="user_name+'大佬您好'" title="退出"/>
        </el-col>
        <el-col :span="3">
            <el-button type="primary" plain size="small" icon="el-icon-document" @click="showDialog">添加任务</el-button>
        </el-col>
    </el-row>
<!--            <el-link disabled>{{user_name}}大佬您好!</el-link>-->
    <!--表格部分-->
    <el-row>
        <el-col :span="24">
    <el-table
            :data="pageBean.data"
            border
            max-height="95%" style="width: 100%"
            >
<!--        <el-table-column-->
<!--                fixed-->
<!--                label="用户名">-->
<!--            <template slot-scope="scope">-->
<!--            <span :style="{textDecoration:scope.row.situation==2?'line-through':''}">{{scope.row.userName}}</span>-->

<!--           <span>{{scope.row.userName}}</span>-->
<!--                <span :style="{'text-decoration':scope.row.situation==1?'line-through':''}">{{scope.row.userName}}</span>-->
<!--            </template>-->

<!--        </el-table-column>-->
<!--        <el-table-column-->
<!--                prop="id"-->
<!--                label="编号">-->
<!--        </el-table-column>-->

<!--                prop="context"-->
        <el-table-column
                label="文本内容">
        <template slot-scope="scope">
            <span :style="{'text-decoration':scope.row.situation==2?'line-through':''}">{{scope.row.context}}</span>
        </template>
        </el-table-column>

<!--                prop="createTime"-->
        <el-table-column
                label="创建时间">
            <template slot-scope="scope">
                <span :style="{'text-decoration':scope.row.situation==2?'line-through':''}">{{scope.row.createTime}}</span>
            </template>
        </el-table-column>
        <el-table-column
                label="过期时间">
            <template slot-scope="scope">
                <span :style="{'text-decoration':scope.row.situation==2?'line-through':''}">{{scope.row.expiration}}</span>
            </template>
        </el-table-column>
        <el-table-column
                label="操作">
<!--            这里的handleClick(scope.row) 是会返回传进来参数-->
            <!--
             slot-scope="scope" 来取得作用域插槽:data绑定的数据，
             scope可以随便替换其他名称，只是定义对象来代表取得的data数据，便于使用
            -->
            <template slot-scope="scope">
<!--                <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>-->
                <el-button type="text" size="small" @click="showEdit(scope.row)">编辑</el-button>
<!--                写三元运算符-->
                <el-button type="text" size="small" @click="deleteContext(scope.row)" >删除</el-button>
                <el-button type="text" size="small" @click="editSituation(scope.row)" :disabled="scope.row.situation==2?true:false">更改完成情况</el-button>
                <el-button type="text" size="small" @click="handleClick(scope.row)" >扩展</el-button>
            </template>
        </el-table-column>
    </el-table>
        </el-col>
    </el-row>
<!--    这里作为显示编辑的内容-->
    <!--
    dialogEditVisible
    cancelEdit
    :model=editForm
    form.context
    @click="cancel"
    cancelEdit
    saveEdit
    -->
    <el-dialog title="编辑内容" :visible.sync="dialogEditVisible" width="45%" @close="cancelEdit" :close-on-click-modal="false">
        <!-- status-icon 为输入框添加了表示校验结果的反馈图标-->
        <el-form :model="pageBeanEdit" :rules="rules" label-width="100px" size="small" ref="addressForm" status-icon>
            <!-- prop属性用于表单验证 -->
            <el-form-item label="编辑的内容" prop="context">
                <el-input v-model="pageBeanEdit.context" autocomplete="off"  placeholder="请输入内容" prefix-icon="el-icon-user" style="width:90%"/>
            </el-form-item>
            <!--            以后这里还要再添加其他的-->
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="cancelEdit" icon="el-icon-ice-cream-round">取 消</el-button>
            <el-button type="primary" @click="saveEdit" icon="el-icon-milk-tea">确 定</el-button>
        </div>
    </el-dialog>
    <!--
   新增和修改对话框
   close-on-click-modal:是否可以通过点击 modal 关闭 Dialog
    -->
    <el-dialog title="添加任务内容" :visible.sync="dialogFormVisible" width="45%" @close="cancel" :close-on-click-modal="false">
        <!-- status-icon 为输入框添加了表示校验结果的反馈图标-->
        <el-form :model="form" :rules="rules" label-width="100px" size="small" ref="addressForm" status-icon>
            <!-- prop属性用于表单验证 -->
            <el-form-item label="添加的内容" prop="context">
                <el-input v-model="form.context" placeholder="请输入内容" prefix-icon="el-icon-user" style="width:90%"/>
            </el-form-item>
<!--            <el-form-item label="设置多少小时后过期" prop="Expiration">-->
<!--                <el-input v-model="form.Expiration" placeholder="请输入内容" prefix-icon="el-icon-user" style="width:90%"/>-->
<!--            </el-form-item>-->
<!--            以后这里还要再添加其他的-->
            <div class="block">
                <span class="demonstration">默认</span>
                <el-date-picker
                        v-model="form.newExpiration"
                        type="datetime"
                        placeholder="选择日期时间">
                </el-date-picker>
            </div>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="cancel" icon="el-icon-ice-cream-round">取 消</el-button>
            <el-button type="primary" @click="save" icon="el-icon-milk-tea">确 定</el-button>
        </div>
    </el-dialog>
    <!--
新增和修改对话框
close-on-click-modal:是否可以通过点击 modal 关闭 Dialog
-->
    <el-dialog title="显示后期要编辑的内容" :visible.sync="dialogShowImformationVisible" width="45%" @close="cancel" :close-on-click-modal="false">
        <!-- status-icon 为输入框添加了表示校验结果的反馈图标-->
        <el-form :model="rowImformation" :rules="rules" label-width="100px" size="small" ref="addressForm" status-icon>
            <!-- prop属性用于表单验证 -->
            <el-form-item label="添加的内容" prop="context">
                <el-input  placeholder="请输入内容" v-model="rowImformation.context" prefix-icon="el-icon-user" style="width:90%"/>
            </el-form-item>
            <el-form-item label="设置多少小时后过期" prop="Expiration">
                <el-input  placeholder="请输入内容" prefix-icon="el-icon-user" style="width:90%"/>
            </el-form-item>
            <!--            以后这里还要再添加其他的-->
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="cancel" icon="el-icon-ice-cream-round">取 消</el-button>
            <el-button type="primary" @click="save" icon="el-icon-milk-tea">确 定</el-button>
        </div>
    </el-dialog>


</div>
</body>
</html>
<script>
    //深度监听
    new Vue({
        el: "#app",
        data: {
            //显示详细任务框
            dialogShowImformationVisible:false,
            visible: false,
            tableData: {
                userName: '',
                id: '',
                createTime: '',
                context:'',
            },
            //编辑框里面的信息
            rowImformation:{

            },
            //添加内容的表单
            form: {
                context: '',
                newExpiration:'',
            },
            editShow:{
                contextID:'',
            },
            dialogFormVisible: false,  //对话框不可见
            dialogEditVisible:false,//这里是编辑内容的不可见
            //页面对象
            pageBean:{},
            //显示编辑的对象
            pageBeanEdit:{
                context:'',
                contextID:'',
            },
            //更改状态的函数,完成情况
            pageBeanSituation:{
                contextID:'',
                situation:'',
            },
            //作为检测有没有校验成功的,例如传递修改软件数据
            postStatus:'',
            //校验规则
            rules: {
                //员工姓名
                context: [
                    {required: true, message: '内容不能为空', trigger: 'blur'},
                    {min:1, message: '请输入内容', trigger: 'blur'}
                ],
            },
            //放到用户界面上的
            user_name:'',
        },
        methods: {
            //查看内容
            handleClick(row) {
                console.log(row);
                this.dialogShowImformationVisible=true;
                this.rowImformation=row;
                // console.log(row.contextID);
            },
            //获取资源
            getResource(){
                //全部显示就用/context/push,显示特定用户就用test
                axios.post("/context/test").then(resp=>{
                    //获取到数据
                    this.pageBean = resp.data;
                    if (this.pageBean.message=="您没有登录账号"){
                        console.log("拦截器成功拦截");
                        location.href="../index.html";

                    }
                    this.pageBean.data.map(vim=>{
                        vim.createTime=this.format(vim.createTime);
                        vim.expiration=this.format(vim.expiration);
                    })
                })
            },
            //毫秒转时间的其中一个小方法
            add0(m){
                return m<10?'0'+m:m
            },
            //毫秒转时间
                format(shijianchuo){
                    //shijianchuo是整数，否则要parseInt转换
                    var time = new Date(shijianchuo);
                    var y = time.getFullYear();
                    var m = time.getMonth()+1;
                    var d = time.getDate();
                    var h = time.getHours();
                    var mm = time.getMinutes();
                    var s = time.getSeconds();
                    return y+'-'+this.add0(m)+'-'+this.add0(d)+' '+this.add0(h)+':'+this.add0(mm)+':'+this.add0(s);
                },
            //退出
            exit() {
                //调用服务器的退出方法
                axios.get("/context/logout").then(resp=>{
                    //resp除了能传数据,并且还会传状态码
                    if(resp.status==200){
                        //跳转到登录页面,这里的跳转与href区别是没法通过返回上一级回到原先函数
                        location.replace("../index.html");
                    }
                })
            },
            //显示对象框
            showDialog() {
                this.dialogFormVisible=true;
                //清空表单的数据
                this.form={
                    context: '',
                    address: '',
                    telephone: ''
                };
                // //清空校验规则，将表单重置
                // this.$refs['addressForm'].resetFields();
            },
            //对话框的取消按钮
            cancel() {
                this.dialogFormVisible=false;
            },
            //编辑框的取消按钮
            cancelEdit(){
                this.dialogEditVisible=false;
            },
            //确定按钮(添加按钮)
            save(){
                // 为表单绑定验证功能
                this.$refs["addressForm"].validate((valid) => {
                    if (valid) {
                        console.log("添加页面");
                        axios.post("/context/testCreate",this.form).then(resp=>{
                            this.$message.success('添加成功');
                            this.dialogFormVisible=false;
                            //     //3s后跳转
                        //     let num=3;
                        //     setInterval(()=>{
                        //         num--;
                        //         if(num==0){
                        //             //跳转到登录页面
                        //             location.href="/pages/contextShow.html";
                        //         }
                        //     },1000)
                            this.getResource();
                         })
                    } else {
                        return false;
                    }
                });

            },
            // //显示编辑页面的内容 这里是用 更详细的方法来获取
            // showEdit(row){
            //     this.dialogEditVisible=true;
            //     this.editShow.contextID=row.contextID;
            //     // console.log(this.editShow.contextID);
            //     axios.post("/context/EditContextShow",this.editShow).then(resp=>{
            //         // this.pageBeanEdit =resp.data;
            //         console.log(resp.data);
            //         const {context,contextID} = resp.data.data[0]
            //         this.pageBeanEdit={context,contextID}
            //         console.log(this.pageBeanEdit);
            //         //因为获取到的值是一列数组,这里的
            //         // this.pageBeanEdit.context=this.pageBeanEdit.data[0].context;
            //         // this.pageBeanEdit.contextID=this.pageBeanEdit.data[0].contextID;
            //     })
            // },
            //显示编辑页面的内容
            showEdit(row){
                this.dialogEditVisible=true;
                this.editShow.contextID=row.contextID;
                axios.post("/context/EditContextShow",this.editShow).then(resp=>{
                    this.pageBeanEdit =resp.data;
                })
            },
            // cancelEdit(){
            //     this.dialogEditVisible=false;
            // },
            //修改数据发送给前端
            saveEdit(){
                axios.post("/context/EditUpdate",this.pageBeanEdit).then(resp=>{
                    this.postStatus =resp.data;
                    if(this.postStatus.success==true){
                        this.$message.success('修改成功');
                        this.dialogEditVisible=false;

                        this.getResource();
                    }
                })
            },
            //修改任务情况,
            editSituation(row){
                this.pageBeanSituation.situation=row.situation;
                this.pageBeanSituation.contextID=row.contextID;
                axios.post("/context/EditSituation",this.pageBeanSituation).then(resp=>{
                    let ResultInfo = resp.data;
                    if(ResultInfo.success==true){
                        this.$message.success('修改成功');
                        this.dialogEditVisible=false;

                        //3s后跳转
                        this.getResource();
                    }else{
                        this.$message.error('修改失败');

                    }
                })
            },
            //删除
            deleteContext(row){
                this.pageBeanSituation.contextID=row.contextID;
                axios.post("/context/deleteContext",this.pageBeanSituation).then(resp=>{
                    let ResultInfo = resp.data;
                    if(ResultInfo.success==true){
                        this.$message.success('删除成功');
                        this.getResource();
                    }else{
                        this.$message.error('删除失败');

                    }
                })
            },
            getUserName(){
                axios.post("/context/getUserName").then(resp=>{
                    this.user_name=resp.data.data;
                })
            }

        },

        //上来就先把数据放到界面里
        created(){
            this.getResource();
            this.getUserName();
        },

    });
</script>