<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表单组件</title>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <script src="../js/axios-0.19.0.js"></script>
<!--
        这里是修改边框的长度
-->
    <style>
            .el-input__inner{
                width: 30%;
            }

    </style>
</head>
<body>
<div id="div">
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="80px" class="demo-ruleForm">
        <el-form-item label="用户名" prop="userName">
            <el-input v-model="ruleForm.userName"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
            <el-input v-model="ruleForm.password" type="password"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="createUser">注册</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>
</div>
</body>
<script>

    new Vue({
        el:"#div",
        data:{
            ruleForm: {
                userName: "",
                password:"",
            },
            msg:"",
            rules: {
                name: [
                    { required: true, message: '请输入账号', trigger: 'blur' },
                ],
                password: [
                    { required: true, message: '请输入密码', trigger: 'blur' },
                ],
            }
        },
        methods:{
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            //登录,调用函数
            createUser(){
                //正常需要先校验文本框有没有内容,
                // elementUI帮忙弄了,所以不用写
                axios.post("/login/createUser",this.ruleForm).then(resp=>{
                    //先得到resultInfo
                    let ResultInfo =resp.data;
                    if(ResultInfo.success){
                        this.$message.success('注册成功');

                        location.href = "../index.html";
                    }else {
                        this.msg=ResultInfo.message;
                    }
                })
            }

        }
    });
</script>
</html>